
.dashboard-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
   
  }
  
  .dashboard-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .holdings-table {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .table-header {
    display: flex;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
  }
  
  .header-item {
    flex: 1;
    padding: 15px;
    text-align: center;
  }
  
  .table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .table-item {
    flex: 1;
    padding: 15px;
    text-align: center;
  }
  
  .no-holdings {
    padding: 20px;
    text-align: center;
    color: #888;
    font-style: italic;
  }
  
 
  @media screen and (max-width: 768px) {
    .dashboard-title {
      font-size: 24px;
    }
  
    .header-item, .table-item {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .dashboard-title {
      font-size: 20px;
    }
  
    .header-item, .table-item {
      padding: 8px;
      font-size: 14px;
    }
  }
  